#:tidyquant{:tq_light ["#2C3E50FF" "#E31A1CFF" "#18BC9CFF" "#CCBE93FF" "#A6CEE3FF" "#1F78B4FF" "#B2DF8AFF" "#FB9A99FF" "#FDBF6FFF" "#FF7F00FF" "#CAB2D6FF" "#6A3D9AFF"], :tq_dark ["#0055AAFF" "#C40003FF" "#00C19BFF" "#EAC862FF" "#7FD2FFFF" "#007ED3FF" "#B2DF8AFF" "#FFACAAFF" "#FF9D1EFF" "#C3EF00FF" "#CAB2D6FF" "#894FC6FF"], :tq_green ["#0055AAFF" "#C40003FF" "#EAC862FF" "#7FD2FFFF" "#007ED3FF" "#F6F4F3FF" "#FFACAAFF" "#FF9D1EFF" "#C3EF00FF" "#CAB2D6FF" "#894FC6FF" "#592E2EFF"]}