#:RSkittleBrewer{:original ["#CD0000FF" "#551A8BFF" "#FF7F00FF" "#00CD00FF" "#FFFF00FF"], :tropical ["#FF8C00FF" "#1E90FFFF" "#FF69B4FF" "#32CD32FF" "#FFFF00FF"], :wildberry ["#66CD00FF" "#F08080FF" "#1874CDFF" "#B22222FF" "#483D8BFF"], :M_M ["#8B4C39FF" "#EE0000FF" "#1874CDFF" "#FF7F00FF" "#00EE00FF" "#FFFF00FF"], :smarties ["#FF96C8FF" "#783C8CFF" "#506EBEFF" "#64AA00FF" "#FFDC14FF" "#FF6400FF" "#DC0000FF" "#641414FF"]}