#:taylor{:evermore ["#EFEFEFFF" "#827D73FF" "#3D2620FF" "#E89264FF" "#474247FF"], :speakNowLive ["#FCE178FF" "#969696FF" "#871D20FF" "#090708FF" "#FAFAF9FF"], :taylorRed ["#C2C2AEFF" "#26233BFF" "#7F6557FF" "#B4A382FF" "#EEEADFFF"], :folklore ["#272727FF" "#5C5C5CFF" "#BABABAFF" "#F8F8F8FF"], :taylorSwift ["#61B6CCFF" "#577F3FFF" "#E3E9F3FF" "#0A1605FF" "#FDDAC7FF" "#81A757FF"], :fearless ["#B68F51FF" "#5B3617FF" "#F7EABEFF" "#ECD59FFF" "#825C2DFF"], :reputation ["#060606FF" "#6E6E6EFF" "#FEFEFEFF" "#CACACAFF" "#060606FF" "#8C8C8CFF"], :speakNow ["#4B2671FF" "#5E291CFF" "#F3D8C4FF" "#F3BF73FF" "#FFFFFFFF"], :taylor1989 ["#B1532AFF" "#84697FFF" "#CBB593FF" "#A88F92FF" "#E8EADFFF" "#43475BFF"], :lover ["#B8396BFF" "#FFD1D7FF" "#FFF5CCFF" "#76BAE0FF" "#B28F81FF" "#54483EFF"]}