#:gery{:seismic ("ff2929" "ff6767" "ff8a8a" "ffa1a1" "ffb2b2" "ffbfbf" "ffcbcb" "ffd4d4" "ffdddd" "ffe5e5" "ffeded" "fff4f4" "fffbfb" "ffffff" "fcfcff" "f5f5ff" "ededff" "e6e6ff" "dedeff" "d5d5ff" "cbcbff" "c0c0ff" "b2b2ff" "a1a1ff" "8989ff" "6666ff" "2828ff")}