#:ggpomological{:pomological_base ["#FFFEEAFF" "#F8EED1FF" "#EFE1C6FF" "#A89985FF" "#6B452BFF" "#3A3E3FFF" "#2B323FFF"], :pomological_palette ["#C03728FF" "#919C4CFF" "#FD8F24FF" "#F5C04AFF" "#E68C7CFF" "#828585FF" "#C3C377FF" "#4F5157FF" "#6F5438FF"]}