#:blueycolors{:bluey ["#D2EBFFFF" "#88CAFCFF" "#404066FF" "#2B2C41FF" "#EDCC6FFF"], :chilli ["#FFFAD8FF" "#FFD08DFF" "#FFB070FF" "#9C5E33FF" "#46362AFF"], :heeler ["#30598AFF" "#72BFEDFF" "#E4DCBDFF" "#F1B873FF" "#E27A37FF"], :socks ["#8F9FD8FF" "#201A3FFF" "#A97D45FF" "#C3CAE1FF" "#3E2B0BFF"]}