#:esdb{:diff ("4dffff" "dbffff"), :min_top ("ff0000" "ffb300" "ffff00" "ccff00" "00ff00" "4dffdb" "b3ffed" "b3b3ff"), :oc_top ("994d80" "b39900" "dbdb99"), :awc_sub ("ffb3ed" "ffff99" "ccff00" "b3ffcc" "80ffff"), :dr ("ffffff" "dedede" "ababab"), :il ("ffffff" "ffffb3" "ffdb4d" "ff804d"), :wr ("ffffff" "edffff" "b3ffff" "80b3ff"), :str_top ("ffffcc" "ffff00" "ff9900"), :dgh ("80004d" "b3994d" "dbdb4d"), :vs ("ffffcc" "ffb300" "db8000"), :cec_top ("dbff99" "ffff99"), :roo ("99ffff" "b3b3ff" "db80ff" "b34dff" "ff99ff"), :atc ("ffffff" "ff8000" "ffff00"), :pd_top ("b3ff4d" "ffb300"), :eawc_sub ("ffb3ed" "ffff99" "ccff00" "b3ffcc" "80ffff"), :crusting ("ffff80" "ffdb4d" "ff9900" "ff0000"), :slopese ("ffffb3" "dbccb3" "cc804d" "4d0000"), :hg ("dbb399" "ff8099" "ffcc99" "dbff99" "b3ff99" "b3ffcc" "b3b3db" "db99ff" "ff80ff"), :min ("ffff00" "b3ff80" "80ffff"), :pmh ("ff80cc" "ffdbcc" "ffffb3" "dbffdb" "b3ffed" "db99ed")}