#:NineteenEightyR{:miami1 ["#69D2E7FF" "#A7DBD8FF" "#E0E4CCFF" "#F38630FF" "#FA6900FF"], :sunset1 ["#ECD078FF" "#DA5B43FF" "#C12942FF" "#542437FF" "#53777AFF"], :sunset2 ["#D99E4CFF" "#D65238FF" "#9E443FFF" "#422B3AFF" "#28212BFF"], :miami2 ["#3FB8AFFF" "#7FC7AFFF" "#DAD8A7FF" "#FF9E9DFF" "#FF3D7FFF"], :electronic_night ["#CB54D6FF" "#3E45C4FF" "#21191AFF" "#362F78FF" "#57B4AEFF"], :cobra ["#EF342CFF" "#E85569FF" "#111013FF" "#CB302CFF" "#5C2C2DFF" "#3E509AFF"], :malibu ["#FF4E86FF" "#FF9E44FF" "#FDFD31FF" "#85FD4EFF" "#4ED5FFFF"], :sunset3 ["#390E40FF" "#701C34FF" "#A63228FF" "#C7662AFF" "#EBA42BFF"], :seventies_aint_done_yet ["#FEDF37FF" "#FCA811FF" "#D25117FF" "#8A4C19FF" "#573420FF"], :sonny ["#4C9385FF" "#F2D1B3FF" "#F2E77EFF" "#DA7698FF" "#E3A7C0FF"], :youngturqs ["#00CED1FF" "#48D1CCFF" "#AFEEEEFF" "#BBFFFFFF" "#AEEEEEFF" "#96CDCDFF" "#668B8BFF" "#40E0D0FF" "#00F5FFFF" "#00E5EEFF" "#00C5CDFF" "#00868BFF"], :hotpink ["#FF69B4FF" "#FF6EB4FF" "#EE6AA7FF" "#CD6090FF" "#8B3A62FF"]}