#:amerika{:Dem_Ind_Rep3 ["#013364FF" "#CBCACAFF" "#CC0000FF"], :Dem_Ind_Rep5 ["#013364FF" "#0033CCFF" "#CBCACAFF" "#D30B0DFF" "#8B0000FF"], :Dem_Ind_Rep7 ["#013364FF" "#0033CCFF" "#428BCAFF" "#CBCACAFF" "#D27979FF" "#D30B0DFF" "#8B0000FF"], :Democrat ["#013364FF" "#0033CCFF" "#428BCAFF"], :Republican ["#8B0000FF" "#D30B0DFF" "#D27979FF"]}