#:gacruxa_sancristobal{:sancristobal-03 ("cfcfcf" "ffcf57" "31ffff"), :sancristobal-16 ("aeae29" "f1ff57" "0d0d0d" "31ffff" "f1ff577f" "f1ff57bc"), :sancristobal-06 ("31ffff" "ffcf57" "cfcfcf"), :sancristobal-22 ("31ffff" "0d0d0d" "aeae29"), :sancristobal-07 ("31ffff" "ffcf57" "cfcfcf"), :sancristobal-14 ("313aff" "31ffff" "93d9ba" "ffcf57" "d993d9" "ae1f29"), :sancristobal-17 ("aeae29" "0d0d0d" "f1ff57" "31ffff" "31ffff7f" "e2ff637f" "f1ff57bc"), :sancristobal-12 ("ffcf57" "313aff" "31ffff" "93d9ba" "d993d9" "ae1f29"), :sancristobal-18 ("aeae29" "0d0d0d" "f1ff57" "31ffff")}