#:es_ocean_breeze{:es_ocean_breeze_114 ("cacaca" "00a9ab" "59abab"), :es_ocean_breeze_111 ("8eb3b6" "1b999d" "7babae"), :es_ocean_breeze_112 ("abd2d5" "21969c"), :es_ocean_breeze_113 ("cacaca" "59abab" "21969c"), :es_ocean_breeze_115 ("21969c" "59abab" "a5bfc0"), :es_ocean_breeze_110 ("cacaca" "1792b5" "44a2bc")}