#:vapeplot{:vaporwave ["#94D0FFFF" "#8795E8FF" "#966BFFFF" "#AD8CFFFF" "#C774E8FF" "#C774A9FF" "#FF6AD5FF" "#FF6A8BFF" "#FF8B8BFF" "#FFA58BFF" "#FFDE8BFF" "#CDDE8BFF" "#8BDE8BFF" "#20DE8BFF"], :cool ["#FF6AD5FF" "#C774E8FF" "#AD8CFFFF" "#8795E8FF" "#94D0FFFF"], :crystal_pepsi ["#FFCCFFFF" "#F1DAFFFF" "#E3E8FFFF" "#CCFFFFFF"], :mallsoft ["#FBCFF3FF" "#F7C0BBFF" "#ACD0F4FF" "#8690FFFF" "#30BFDDFF" "#7FD4C1FF"], :jazzcup ["#392682FF" "#7A3A9AFF" "#3F86BCFF" "#28ADA8FF" "#83DDE0FF"], :sunset ["#661246FF" "#AE1357FF" "#F9247EFF" "#D7509FFF" "#F9897BFF"], :macplus ["#1B4247FF" "#09979BFF" "#75D8D5FF" "#FFC0CBFF" "#FE7F9DFF" "#65323EFF"], :seapunk ["#532E57FF" "#A997ABFF" "#7EC488FF" "#569874FF" "#296656FF"]}