#:wkp_lilleskut{:afrikakarte-bath ("7fa8cb" "92b5d5" "a0c2de" "adcbe6" "b9d5ed" "c4dff4" "cee7fd" "cee7f9" "daf0fd"), :afrikakarte ("7fa8cb" "92b5d5" "a0c2de" "adcbe6" "b9d5ed" "c4dff4" "cee7fd" "cee7f9" "daf0fd" "acd0a5" "a8c68f" "d1d7ab" "efebc0" "ded6a3" "cab982" "c09a53" "ececec")}