#:colo_phill{:Sky_Vs_Road ("8dafb8" "c3e1e8" "9ecdff" "a7aaab" "6d7070"), :bad_moon_rising ("2f4c73" "142e52" "a39c7c" "ded2a0" "f5edcb"), :blueberry_pancakes ("d9d096" "bab175" "548fa1" "3e7485" "15576b"), :i_hate_mondays ("ebe7c2" "cfccaa" "b8b598" "a7a48b" "94927b"), :moldy_bread ("74ab86" "76c28f" "b9db5c" "e1e660" "f9fc9a"), :omgwtf_monday_sucks ("e6f2f5" "d0e5e9" "b0cdd3" "9abec5" "7ca8b1"), :yeahi_play_the_harp ("faf9da" "eee9b5" "f3eb93" "f3be93" "f39b93")}