#:jjg_dem{:c3t1 ("89b994" "9fc8a7" "beddbc" "e5e6c9" "fffcc8" "fff1c6" "ffe8b5" "ffdda2" "ffd390"), :c3t2 ("8cb784" "a1c799" "c0ddb2" "d9e9bd" "f1f3c9" "fffcc8" "fff1c6" "ffe8b5" "ffdda2" "ffd390" "ffcc80"), :c3t3 ("75b08d" "91bf9c" "a9d3b1" "c8e1c1" "dcebc8" "fffcd4" "fffcc8" "ffecc4" "ffddaf" "fccf9e" "fbc28e" "e4e8f4" "d6e1f2"), :garish14 ("41c23c" "7cd044" "b6df4d" "d5e635" "f4ed1e" "f6db1e" "f9c91d" "f9a80e" "f98600" "cb5f3e" "9d387d" "ba6daa" "d7a2d6" "e6c8e6"), :garish7 ("41c23c" "b6df4d" "f4ed1e" "f9c91d" "f98600" "9d387d" "d7a2d6"), :gebco-shelf ("00f0ff" "23ffff" "5affff" "8cffe6" "a5ffd7" "c3ffd7" "d2ffd7" "e6fff0" "ebffff"), :ukdem ("ffffff" "fffce6" "fffbda" "fff3c8" "ffe8b2" "ffddaf" "ffd6aa" "ffd3a3" "ffd19c" "ffcb9a" "ffc697" "ffc195")}