#:MapPalettes{:green_machine ["#1D3141FF" "#096168FF" "#209478FF" "#75C56EFF" "#E2EE5EFF"], :bruiser ["#1E313EFF" "#4E475FFF" "#8B5975FF" "#C86C7CFF" "#FA8975FF"], :tealberry_pie ["#00778AFF" "#82A2BFFF" "#D4D2E5FF" "#B77DAFFF" "#A30248FF"], :the_joker ["#488F31FF" "#8CBCACFF" "#F1F1F1FF" "#B896D6FF" "#783DBAFF"], :sunset ["#F09000FF" "#FEC289FF" "#F6F6F6FF" "#9DC7E4FF" "#0099D1FF"], :irish_flag ["#2A8F27FF" "#95C08BFF" "#F1F1F1FF" "#FFBEFEFF" "#FF8B26FF"]}