/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
_site
/generateme/*.jpg
/generateme/*.png
*.stackdump
*.lock
/results/ex16/*.raw
/results/ex18/*.raw
