#:ma_groovy{:groovy_01 {:c ("19bfa9" "62d6fd" "b3f1e2" "e6f5e2"), :p (0.0 0.3601 0.75 1.0)}, :groovy_02 {:c ("bff4e2" "ffffff" "e5f6e4"), :p (0.0 0.5 1.0)}, :groovy_03 {:c ("1bbcac" "e8f5e1"), :p (0.0 1.0)}, :groovy_04 {:c ("6ad8fb" "1bbcac"), :p (0.0 1.0)}, :groovy_05 {:c ("aff1e5" "6ad8fb"), :p (0.0 1.0)}, :groovy_06 {:c ("e5f3e2" "b1f1e3" "99e9f2"), :p (0.0 0.5 1.0)}, :groovy_07 {:c ("a9efe5" "50c1eb"), :p (0.0 1.0)}, :groovy_08 {:c ("e8f5e1" "64d6fb" "64dac4" "a9efe7" "7bdff6"), :p (0.0 0.24 0.49 0.8101 1.0)}}