{:lint-as {clojure2d.core/with-canvas clojure.core/let
           clojure2d.core/with-canvas-> clojure.core/->}
 :linters {:unused-private-var {:exclude [clojure2d.color/matrix-inverse
                                          clojure2d.color/test-colors]}}
 :hooks {:macroexpand {clojure2d.core/with-oriented-canvas hooks.core/with-oriented-canvas
                       clojure2d.core/with-oriented-canvas-> hooks.core/with-oriented-canvas->
                       clojure2d.core/make-set-color-fn hooks.core/make-set-color-fn}}}
